{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
<main class="main">
    <section class="container py-5">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-5">
                <h1 class="text-center my-4">S'inscrire</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.firstname, {label: 'Prénom'}) }}
                {{ form_row(registrationForm.lastname, {label: 'Nom'}) }}
                {{ form_row(registrationForm.email, {label: 'Adresse email'}) }}
                {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
                }) }}

                <button type="submit" class="btn btn-primary" title="S'inscrire">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
</main>
{% endblock %}