{% extends 'base.html.twig' %}

{% block title %}{{genre.name}}{% endblock %}

{% block body %}
    <h1>{{genre.name}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
            <tr>
                <th>Nom du genre</th>
                <td>{{ genre.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_genre_index') }}">back to list</a>

    <a href="{{ path('app_admin_genre_edit', {'id': genre.id}) }}">edit</a>

    {{ include('admin/genre/_delete_form.html.twig') }}
{% endblock %}
