{% extends 'base.html.twig' %}

{% set page_title = book is null ? 'Livre inconnu' : book.title %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
<main class="main">
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0 w-100 rounded shadow-lg"
                        src="{{ asset('images/cover/' ~ book.cover) }}" alt="Couverture de {{ book.title }}" />
                </div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{ page_title }}</h1>
                    <div class="fs-5 mb-3">
                        <span class="text-muted">Auteur : </span>{{ book.author.name }}
                    </div>
                    <div class="fs-5 mb-3">
                        <span class="text-muted">Publié en : </span>{{ book.publishedAt ? book.publishedAt|date('Y') :
                        '' }}
                    </div>
                    <div class="fs-5 mb-3">
                        <span class="text-muted">Pages : </span>{{ book.pageNumber }}
                    </div>
                    <div class="fs-5 mb-3">
                        <span class="text-muted">Description : </span>{{ book.description }}
                    </div>
                    <div class="d-flex">
                        <a href="{{ path('app_book_index') }}" class="btn btn-outline-primary flex-shrink-0 my-4 mx-2"
                            title="Revenir au catalogue">
                            <i class="fas fa-arrow-left"></i> Revenir au catalogue
                        </a>
                        <a href="{{ path('app_comments_new') }}" class="btn btn-outline-primary flex-shrink-0 my-4"
                            title="Faire un commentaire">
                            <i class="fas fa-arrow-left"></i> Faire un commentaire
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}