{% extends 'base.html.twig' %}

{% block title %}Détails du Commentaire{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-4 text-center">Détails du commentaire</h1>

        <div class="my-4">
            <a href="{{ path('app_comments_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Retour à la liste
            </a>
        </div>

        <table class="table table-bordered table-striped my-4">
            <tbody>
                <tr>
                    <th>Contenu</th>
                    <td>{{ comment.content }}</td>
                </tr>
                <tr>
                    <th>Livre Concerné</th>
                    <td>{{ comment.books.title }}</td>
                </tr>
                <tr>
                    <th>Utilisateur</th>
                    <td>{{ comment.user.firstname }} {{ comment.user.lastname }}</td>
                </tr>
            </tbody>
        </table>

        {{ include('comments/_delete_form.html.twig') }}
    </div>
{% endblock %}
